<div class="container">
    <div class="row">
        <h3>I'm in the AppComponent!</h3>
        <hr>
        <!--<div app-servers><div>  wird verwendet wenn als Attribut css--> 
        <!--<div class="app-servers"><div> -- als Klasse aufgerufen-->
        <app-servers></app-servers>
        <hr>
        <app-success></app-success>
        <app-warning></app-warning>
    <div>
</div>

<hr>
<label>Username</label>
<div class="container">
    <div class="row">
        <input 
        type="text"
        class="form-control"
        [(ngModel)]="username">
<p class="username">Username: {{ username }}</p>
<button 
        class="btn btn-primary" 
        [disabled]="usernameEmpty()"
        (click)="onResetUsername()">Reset Username</button>
    <div>
</div>

